$primary-color: #E7E12B;
$secondary-color: #2BB7E7;
$tertiarty-color:  #E70C79;
$quaternion-color: #8D38C4;
$primary-text-color: #180710;
$font-stack:  'Inconsolata', monospace;
$paragaph-size: 1.4em;




body{
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    font-family: $font-stack;
}

nav{

    width: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    color: $tertiarty-color;
    padding: 15px;

    p{
        font-size: 1.5em;
        padding-left: 10px;
        
    }

    .icons{
        display: flex;
        gap: 20px;
        padding-top: 20px;

        button{
            background: none;
            border-style: none;
        } 
    }
}

article{
    width: auto;
    color:  $primary-text-color;
    padding-left: 45px;
    padding-right: 45px;
    background-color: aqua;
    display: flex;
    justify-content: space-around;

    .impact-section{
        gap: 25px;
        display: flex;
        flex-direction: column;
        padding-top: 20px;

    }
    
    h1{
        font-size: 3em;
        padding: 0;
        margin: 0;
        
    }
    p{
        font-size: $paragaph-size;
    }

    button{
        background: none;
        border-style: none;
        width: 12vw;
        padding: 20px;
        background-color: $quaternion-color;
        border-radius: 35px;
        color: white;
        font-size: 1em;



    }

    .impact-section{
        width: 50%;
        background-color: aquamarine;
    }
        
        img{
            width: 25vw;
            border-radius: 20px;
        }

    
}

main{
    background-color: $tertiarty-color;
}

footer{
    $background: #950AF0;
    background-color: $background;
    width: 100%;
    height: 250px;
}
